.footer
  .footer__main
    = link_to "/", class: "content__appName" do
      Pyramid
    = link_to "/", class: "content__appExplanation" do
      %span Pyramid
    .content__appExplanation__text
    はあなたの趣味をランキングしたアプリケーションです
