.main
  .contents
    .top
      = image_tag '/ジャンプ.jpeg', height: '100px', width: '100px', class: 'rag'
      .top__content 頂点
      = image_tag '野球.png', height: '100px', width: '100px', class: 'base'
    .second
      .second__left
        .second__left__text 2ー左
        .second__left__images
      .second__right
        .second__right__text 2ー右
        .second__right__images
    .third
      .third__left
        .third__left__text 3ー左
        .third__left__images
      .third__center
        .third__center__text 3ー真ん中
        .third__center__images
      .third__right
        .third__right__text 3ー右
        .third__right__images



-# 茶色部分を押すと詳しくみる（プロフィール画像のような）
-# 名前、編集機能、画像、歴やレベル、得意ジャンル（科目）、コメント欄、編集日、URL
