.editPage
  .title 
    編集画面
  .pyramid
    .top
      トップ
    .second
      .second__left
        second elite
      .second__right
        second elite
    .third
      .third__left
        third elite
      .third__center
        third elite
      .third__right
        third elite