.editPage
  編集画面
  .pyramid
    .top
      トップ
    .second
      .second__left
        二段目の左
      .second__right
        二段目の右
    .third
      .third__left
        三段目の左
      .third__center
        三段目の真ん中
      .third__right
        三段目の右