.editPage {
  background-color: aquamarine;
  .title {
    text-align: center;
  }
  .pyramid {
    .top {
      text-align: center;
    }
    .second {
      display: flex;
      align-items: center;
      justify-content: center;
      &__left {

      }
      &__right {
        
      }
    }
    .third {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }  
  }
