.header {
  background-color: darkcyan;
  height: 100px;
  &__content {
    height: 80px;
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__main {
      font-size: 35px;
      text-decoration: none;
      font-family: arial black;
      color: indigo;
      width: 300px;
      display: flex;
      justify-content: center;
    }
  }
}

.wrapper {
  height: 1000px;
  .main {
    padding: 100px 50px  210px;
    background-image: image-url('pyramid.jpeg');
    background-size: cover;
    background-position: center;
    .contents {
      .top {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
        &__content {
          font-size: 25px;
          background-color: chocolate;
          border: 1px solid black;
          margin: 15px 120px 15px 120px;
          width: 400px;
          height: 200px;
          text-align: center; 
        }
      }
      .second {
        display: flex;
        justify-content: center;
        &__left {
          background-color: chocolate;
          border: 1px solid black;
          margin: 15px;
          width: 400px;
          height: 200px;
          text-align: center;
          text-decoration: none;
          color: black;
        }
        &__right {
          background-color: chocolate;
          border: 1px solid black;
          margin: 15px;
          width: 400px;
          height: 200px;
          text-align: center;
          text-decoration: none;
          color: black;
        }
      }
      .third {
        display: flex;
        justify-content: center;
        &__left {
          background-color: chocolate;
          border: 1px solid black;
          margin: 15px;
          width: 400px;
          height: 200px;
          text-align: center;
          text-decoration: none;
          color: black;
        }
        &__center {
          background-color: chocolate;
          border: 1px solid black;
          margin: 15px;
          width: 400px;
          height: 200px;
          text-align: center;
          text-decoration: none;
          color: black;
        }
        &__right {
          background-color: chocolate;
          border: 1px solid black;
          margin: 15px;
          width: 400px;
          height: 200px;
          text-align: center;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}



.footer {
  background-color: yellowgreen;
  height: 100px;
  &__main {
  height: 80px;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
    .content__appName {
      font-size: 40px;
      font-family: arial black;
      text-decoration: none;
      color: indigo;
      width: 300px;
    }
    .content__appExplanation {
      font-size: 15px;
      text-decoration: none;
      span {
        font-size: 20px;
        font-family: arial black;
        color: indigo;
      }
    }
  }
}